@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,400');

/* General */
body {
    font-family: 'Work Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
}

a,
a:link {
    outline: none;
}

h1 {
    font-weight: 100;
    font-size: 72px;
    margin: 20px 0;
}

/* Form elements */
input[type="text"] {
    height: 56px;
    width: 260px;
    padding: 10px;
    margin-right: 10px;
    font-size: 24px;
    box-sizing: border-box;
}

:focus {
    outline-color: transparent;
    outline-style: none;
}

.btn-large {
    position: relative;
    height: 56px;
    padding: 10px;
    border: 0;
    background-color: tomato;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    color: white;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}

.btn-large:hover {
    background: #FB3D1B;
}

.btn-large:active {
    top: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.btn-small:hover {
    background: #FB8E1B;
}

.btn-small:active {
    top: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

/* List styles */
ul {
    margin: 20px 0;
    padding: 0;
}

ul li {
    list-style-type: none;
    font-size: 24px;
    border-bottom: 1px #eeeeee solid;
    margin-bottom: 0;
    padding: 15px 0;
    text-align: left;
    transition: all .3s ease;
}

ul li a {
    cursor: pointer;
    margin-top: -3px;
    float: right;
    opacity: 0;
    text-decoration: none;
    color: tomato;
    -moz-border-radius: 50% -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 18px;
    text-align: center;
    -webkit-transition: opacity 0.3s, border-color 0.2s;
    box-sizing: border-box;
    border: 4px solid transparent;
}

ul li:hover a {
    opacity: 1.0;
    background: rgba(0, 0, 0, .02);
    cursor: pointer;
}

ul li a:hover {
    border: 4px solid tomato;
}



.done {
    text-decoration: line-through;
    color: #14B84C;
    opacity: 0.5;
}



.btn-small {
    float: right;
    margin-right: 3px;
    border-radius: 4px;
    color: #FB8E1B;
    transition: all 0.3s;

}

.btn-small:hover {
    color: #9c1a03;
}

/* User interface */
div#todo-app {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

input[type="text"]#editInput {
    width: 67%;
    margin-right: 0;
    background-color: #eee;

}

button#submit {
    width: 30%;
    display: block;
    float: right;
}